body{
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

.coinImg{
    height: 100px;
}

.mainBox{
    display: flex;
    justify-content: center;
}

.budgetingBox{
    border-radius: 20px;
    background-color: black;
    text-align: center;
    padding: 30px;
    border: solid rgb(255, 196, 0);
    border-width: thick;
}

.popupBox{
    border-radius: 20px;
    background-color: black;
    text-align: center;
    width: 300px;
    border: solid rgb(255, 196, 0);
    border-width: thick;
}

input{
    padding: 10px;
    background-color: rgb(255, 196, 0);
    text-align: center;
}

button{
    width: 200px;
    height: 40px;
    border-radius: 10px;
    color: white;
    border: none;
}

button:hover{
    opacity: 60%;
}

.buttonGrid{
    display: grid;
    gap: 10px;
}

.updateBtn{
    background-color: green;
}
.manageBtn{
    background-color: red;
}
.addBtn{
    background-color: blue;
}

.topBar{
    background-color: rgb(255, 196, 0);
    height: 40px;
    border-radius: 15px 15px 0 0 ;
    display: flex;
    align-items: center;
    justify-content: center;
}

.smallBtn{
    width: 75px;
}

.update{
    background-color: green;
}

.cancel{
    background-color: red;
}
.add{
    background-color: blue;
}

.buttonBox{
    padding: 20px;
}

.absolute{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hidden{
    display: none;
}

.expenseItem{
    border-radius: 20px;
    border: solid rgb(255, 196, 0);
    border-width: medium;
    margin: 5px;
    padding: 5px;
}
.expenseListItem{
    font-size: 20px;
}